{% extends 'StoreApp/main.html' %}
{% load static %}
{% block content %}  
<div class="row"  style="margin: 0px 0px;">
	<div class="col-lg-6">
		<img src="{% static 'media/IMG-20200224-WA0010.jpeg' %}" style="width:100%; border-radius: 1000px;"></img>
	</div>

	<div class="col-lg-6">
	<h1 style="float: left;padding-left:0px; padding-bottom: 25px;  color:rgb(255, 255, 255); text-shadow: 0px 0px 2px rgb(247, 247, 247), 0px 0px 4px rgb(255, 255, 255), 0px 0px 8px rgba(255, 255, 255, 0.685), 0px 0px 30px rgba(255, 255, 255, 0.548);">
		Ihtheram Ahmod Chowdhury</h1></br></br></br></br></br>
	<h2 style="background-color:rgba(255, 0, 0, 0); width:fit-content; float: left; text-align: left; color: rgb(167, 167, 167);">
			BSc Senior, Owner of <span style="font-family: 'Iceland'; font-size: 40px;color:rgb(255, 255, 255); text-shadow: 0px 0px 2px rgb(247, 247, 247), 0px 0px 4px rgb(255, 255, 255), 0px 0px 8px rgba(255, 255, 255, 0.685), 0px 0px 30px rgba(255, 255, 255, 0.548); ">IRMTech</span> </h2>
		</br></br></br></br></br>
	<h3 class="pricetag" style="float: left;">Metropolitan University Bangladesh</h3>
</br></br></br>
	<address class="pricetag" style="float: left; text-align: left;">
		Email: <a href="mailto:ihtheramchowdhury@gmail.com" style="color:rgb(93, 190, 255);">ihtheramchowdhury@gmail.com</a> </br>
		Contact no. <a href="tell:+8801907419299 " style="color:rgb(93, 190, 255);">+8801907419299 </a> </br>
		Github: <a href="Github: https://github.com/Ihtheram" style="color:rgb(93, 190, 255);">github.com/Ihtheram</a> </br>
		LinkedIn: <a href="https://www.linkedin.com/in/ihtheram-ahmod-chowdhury-0ba0901a7/" style="color:rgb(93, 190, 255);">linkedin.com/in/ihtheram-ahmod-chowdhury-0ba0901a7/</a> </br>
		Facebook: <a href="https://www.facebook.com/IhtheramChowdhury/" style="color:rgb(93, 190, 255);">facebook.com/IhtheramChowdhury/</a></br>
		Twitter: <a href="https://twitter.com/Ihtheram" style="color:rgb(93, 190, 255);">twitter.com/Ihtheram </a></br>
	</address>

	
</div>



</div>




{% endblock content %}