{% extends 'StoreApp/main.html' %}
{% load static %}
{% block content %}

<h1>Update Tech</h1>
<div>
	<div>
		<h1>{{this_tech.name}}</h1>
		<img src="{{this_tech.pictureURL}}" style="height:500px ; "></img>
	</div>
	
	<div class="col-lg-6">

	</br></br></br></br>
	<h2>
		Seller: <i style="color: rgb(0, 129, 204);">
			{{this_tech.seller}} </h2> </i>
		</br></br></br></br>
	<h3>৳{{this_tech.price}}</h3>	
</div>
</div>
<form action="" method="POST" style="color: black;">
	{% csrf_token %}
	{{form}}

	<input type="submit" name="Save Changes">
	<button><a href="{% url 'delete_tech' this_tech.id %}">Delete</a></button>
</form>

{% endblock content %}